body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #ff0000 !important;
}

.navbar-brand, .nav-link {
  color: white !important;
}

.btn-primary {
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-primary:hover {
  background-color: #cc0000;
  border-color: #cc0000;
}